

{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block main %}

<div class="container">
    <div class="d-flex m-3">
        <img class="rounded-circle" alt="berk-efe" src="https://avatars.githubusercontent.com/u/92454444?v=4" style="width: 150px; height: 150px;">
        <div class="">
            <h1 class="m-3">berk-efe</h1>
            <p class="fs-5 m-3">CS50X Final Project</p>
        </div>
    </div>
    <p class="fs-6 m-5">
        Hi, i am berk!
        <br>
        You can learn more about me from my <a href="github.com/berk-efe">github</a> or <a href="linkedin.com/in/berk-efe-keskin/">linkedin</a>.

        <br>
        <br>
        This project is my final project for <a href="cs50.harvard.edu/x/2025/">CS50X Course</a>. <br>
        It is a web application that allows users to track their game purchases and prices across different online stores. <br>
        The data is fetched from <a href="isthereanydeal.com">IsThereAnyDeal</a> API. <br>
        The project is built using Flask, a Python web framework, and uses Bootstrap for styling. <br>
        <br>


    </p>
</div>

{% endblock %}